{% extends "base.html" %}
{% block extra_css %}
{% if mode == 'auto-fusion' %}
<style>
    .controls, 
    .pipeline-config:not(#automatedControls .pipeline-config),
    #schemaTypeInfo {
        display: none !important;
    }
</style>
{% endif %}
{% endblock %}

{% block content %}
<script>
    window.appMode = "{{ mode }}";
</script>
<div class="container">
    {% include 'components/header.html' %}
    <div class="content">
        {% include 'components/upload_section.html' %}
        {% include 'components/parsed_content.html' %}
        {% include 'components/controls.html' %}
        {% include 'components/automated_controls.html' %}
        {% include 'components/results.html' %}
        <div class="loading" id="loading">
            <div class="spinner"></div>
            <p>Processing your request...</p>
        </div>
        <div class="error" id="error"></div>
        <div class="success" id="success"></div>
    </div>
</div>
{% endblock %}


<!-- find . -mindepth 1 -not -name Sender -exec rm -rf {} + -->